<div>
    <h1>BIENVENIDO</h1>
    <a href="/api/products">Click para ir a la Tienda Online</a>
    {{!-- <a href="/chat">Click para ir al Chat Online</a> --}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</div>