<div>
    <h1>Tienda Online</h1>
    <form>
  <input type="text" name="name" id="name">
  <input type="number" name="qty" id="qty">
  <input type="submit" value="Send" id="button">
</form>

  <div class="cartList"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/rtp.js"></script>
</div>