<div>
    <h1>Tienda Online</h1>
      <div class="productsList"></div>
      <h2>Cart :</h2>
    <div class="cartList"></div>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/rtp.js"></script>
</div>